*{
	margin: 0px;
	padding: 0px;
}
#boxtwn{
	width:1024px ;/*实际宽度为1002,因为加上边框,高度同理*/
	height: 1600px;
	/*border: 1px black solid;*/
	border-radius:8px ;
	margin: 0 auto;
	position: relative;
	top: 45px;
}
#boxxz{
	width: 1024px;
	margin: 0 auto;/*外边距*/
	position: absolute;
	top: 52px;
}
#h1{
	width: 1024px;
	height: 350px;
	background-image:url(../img/Fcon-bg.png);
	background-size: 100%;
	background-repeat:repeat-y;
	position: relative;
	
}
#pic1{
	width: 1024px;
	position: absolute;
	bottom: 0px;
}
#p1{
	position: absolute;
	top: 22px;
	left: 60px;
}
#a{
	color:#113F68; 
	text-decoration: none;
}
#a:hover{
	color:#DB6800;
	border-bottom:1.8px #DB6800 dotted;
}
#h2{
	width: 1024px;
	height: 730px;
	background-image:url(../img/Fcon-bg.png);
	background-size: 100%;
	position: relative;
}
#p2{
	position: absolute;
	left: -20px;
	z-index: 2;
}
#p3{
	font-size: 25px;
	font-weight: 700;
	position: absolute;
	top: 90px;
	left: 100px;
	z-index: 3;
}
#p4{
	position: absolute;
	top: 143px;
	left: 100px;
	z-index: 3;
}
#p5{
	font-size: 25px;
	font-weight: 700;
	position: absolute;
	top: 230px;
	left: 100px;
	z-index: 3;
}
#p6{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 280px;
	left: 100px;
	z-index: 3;
}
#p7{
	position: absolute;
	top: 280px;
	left: 330px;
	z-index: 3;
}
#p8{
	position: absolute;
	top: 350px;
	left: 330px;
	z-index: 3;
}
#p9{
	position: absolute;
	top: 420px;
	left: 330px;
	z-index: 3;
}
#p10{
	position: absolute;
	font-size: 20px;
	font-weight: 700;
	top: 380px;
	left: 670px;
	z-index: 3;
}
#u{
	position: absolute;
	top: 420px;
	left: 690px;
	z-index: 3;
}
#p11{
	position: absolute;
	top: 640px;
	left: 320px;
	z-index: 3;
}
#pi1{
	width: 173px;
	height: 29px;
	background-image: url(../img/purple_btn.png);
	background-position:;
}
#pi1:hover{
	background-image: url(../img/purple_btn.png);
	background-position:0px -28px;
}
#pi1-1{
	font-size: 12px;
	color:aliceblue;
	margin-left: 47px;
}
#pi2{
	width: 173px;
	height: 29px;
	background-image: url(../img/purple_btn.png);
	background-position:;
	margin-left: 200px;
	margin-top: -30px;
}
#pi2:hover{
	background-image: url(../img/purple_btn.png);
	background-position:0px -28px;
}
#pi2-1{
	font-size: 12px;
	color:aliceblue;
	margin-left: 47px;
}
#pi3{
	width:160px;
	height: 90px;
	background-image: url(../img/Fsprite3.png);
	background-position:170px -250px;
	margin-left: 120px;
	margin-top: -130px;
}
#h3{
	width: 1024px;
	height: 310px;
	background-image:url(../img/Fcon-bg.png);
	background-size: 100%;
	position: relative;
	margin-top: -30px;
}
#p12{
	width: 900px;
	height: 44px;
	margin: 0 auto;
	background-color: #E2C79C;
	z-index: 3;	
	position: relative;
}
#pi4{
	width: 23px;
	height: 23px;
	background-image: url(../img/Fsprited.png);
	background-position:0px 0px;
	position: absolute;
	top: 10px;
	left: 20px;
}
#p13{
	font-size: 18px;
	font-weight:700;
	color:#37291E;
	position: absolute;
	top: 10px;
	left: 60px;
}
#p14{
	width: 230px;
	height: 20px;
	color:#DB6800;
	position: absolute;
	top: 8px;
	right: 12px;
}
#p14 a{
	font-size: 13px;
	font-weight:700;
	color:#DB6800;
	text-decoration: none;
	border-bottom:1.8px #DB6800 dotted;
}
#p14:hover a{
	color: aliceblue;
	border-bottom:1.8px aliceblue dotted;
}
#ta{
	text-align: center;
	position: absolute;
	top: 100px;
	left: 80px;
}
#p16{
	position: relative;
}
#u1{
	position: absolute;
	top: 20px;
	left: 40px;
}
#u1 li{
	width: 280px;
	height: 142px;
	list-style: none;
	float: left;
	margin: 0px 17px;
	border: 1px #BE8C51 solid;
}
#u1 li:hover{
	background-color:#76B900;
	border: 1px #76B900 solid;
}
#u2{
	position: absolute;
	top: 170px;
	left: 30px;
}
#u2 li{
	list-style: none;
	float: left;
	margin: 0px 70px;
}
#h4{
	width: 1024px;
	height: 41px;
	background-size: 100%;
	background-image: url(../img/bg-bot.png);
}
